// #1
$color1: #EAE7DC;
$color2: #D8C3A5;
$color3: #8E8D8A;
$color4: #E98074;
$color5: #E85A4F;

// #2
$color1: #88BDBC;
$color2: #254E58;
$color3: #112D32;
$color4: #4F4A41;
$color5: #6E6658;

// #3
$color1: #25274D;
$color2: #464866;
$color3: #AAABB8;
$color4: #2E9CCA;
$color5: #29648A;

// #4
$color1: #17252A;
$color2: #2B7A78;
$color3: #3AAFA9;
$color4: #DEF2F1;
$color5: #FEFFFF;

// #5
$color1: #59253A;
$color2: #78244C;
$color3: #895061;
$color4: #0677A1;
$color5: #2D4159;

// #6
$color1: #1F2605;
$color2: #1F6521;
$color3: #53900F;
$color4: #A4A71E;
$color5: #D6CE15;

// #7
$color1: #10E7DC;
$color2: #0074E1;
$color3: #1B9CE5;
$color4: #6CDAEE;
$color5: #F79E02;

// #8
$color1: #FBE8A6;
$color2: #F4976C;
$color3: #303C6C;
$color4: #B4DFE5;
$color5: #D2FDFF;

// #9
$color1: #B23850;
$color2: #3B8BEB;
$color3: #E7E3D4;
$color4: #C4DBF6;
$color5: #8590AA;

// #10
$color1: #844D36;
$color2: #474853;
$color3: #86B3D1;
$color4: #AAA0A0;
$color5: #8E8268;


// #11
$color1: #265077;
$color2: #022140;
$color3: #494B68;
$color4: #1E4258;
$color5: #2D5F5D;

